@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

html, body {
  background-color: #E9EAEE;
  font-family: 'Roboto Mono', monospace;
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {

  flex-direction: column;
  gap: 20px;
  color: #282828;
  
}

.h1 {

  color: #8580DF;
}


.casilla1 {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;

}

.opciones {
  gap: 30px;
  display: flex;



}
.opciones2 {
  gap: 30px;
  gap: 30px;
  display: flex;

}
.opciones3 {
  gap: 30px;
  display: flex;
}

.button1 {
  background-color: #8580DF; 
  color: white; 
  padding: 15px 32px; 

  text-decoration: none; 
  display: inline-block;
  font-size: 16px;
  border: none; 
  cursor: pointer;
  transition: .3s ease;
  border-radius: 25px;
}

.button1:hover {
  background-color: #9892FF; 
  box-shadow: 0 0 2px #9892FF, 0 0 10px #9892FF, 0 0 20px #9892FF;
}
