@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Balinese&family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');


html {
    background-color: #ffffff; 
    font-family:'Noto Serif Balinese', serif;
    height: 100%;
    margin: 0;
    
  }
.cuadrado {
    background-color: #E9EAEE; 
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}

.cuadrado h1 {
  font-family: 'Questrial', sans-serif;
  color: #8580DF;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

  
.casillap {
  font-family: 'Noto Serif Display', serif;
    margin-top: 30px;
    font-family: 'Noto Serif Display', serif;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    align-items: center;
    justify-content: center;
    margin-left: 150px;
    margin-right: 150px;
  
  }
.texto-casilla {
    position: absolute;
    top: 8px;
    
    color: #151414; /* Color del texto */
    pointer-events: none; 
    z-index: 1; 
    margin-left: 100px;
   
  }
.bot{
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-left: 280px;
  
  }