@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

html, body {
  background-color: #E9EAEE;
  font-family: 'Roboto Mono', monospace;
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {

  flex-direction: column;
  gap: 20px;
  color: #282828;
  
}

.cuadritop {
  background-color: #E9EAEE; 
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
}


.cuadritop h1 {
  font-family: 'Questrial', sans-serif;
  color: #8580DF;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;

}



.casilla11 {
  border-radius: 10px;
  font-family: 'Noto Serif Display', serif;
 
  font-family: 'Noto Serif Display', serif;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;


}

.opciones {
  gap: 30px;
  display: flex;



}
.opciones2 {
  gap: 30px;
  gap: 30px;
  display: flex;

}
.opciones3 {
  gap: 30px;
  display: flex;
}
.boto{
  font-family: 'Noto Serif Display', serif;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-left: 260px;

}
.boton2{
  font-family: 'Noto Serif Display', serif;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  margin-left: 280px;

}

.button1 {
  background-color: #8580DF; 
  color: white; 
  padding: 15px 32px; 

  text-decoration: none; 
  display: inline-block;
  font-size: 16px;
  border: none; 
  cursor: pointer;
  transition: .3s ease;
  border-radius: 25px;
}


html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(imagen.jpg);
  background-size: cover;
  background-position: center;
}
